body, ul, ol, p, h1, h2, h3, h4, h5, h6, input, dl, dt, dd {
  margin: 0;
  padding: 0;
  /*list-style: none;*/
}


body {
  font-size: 16px;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

input {
  outline: none;
  border: 1px solid #333;
}

.clearfix::after {
  content: '';
  clear: both;
  display: block;
}

